.body{
    margin: 0%;
    padding: 0%;
}


.header{
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}
.header__elements{
    font-family:"roboto", sans-serif;
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 20px;
    width: 0px;
    margin-left: 50px;
    margin-right: 50px;
}
.elements{
    text-decoration: none;
    color: rgb(153, 153, 160);

}
.box1{
    background-color:rgb(252, 248, 248);
}
.section{
    background-color:rgb(245, 245, 247);
    padding-top: 1px;
    padding-bottom: 1px;
}
.section__p1{
    font-family: "roboto", sans-serif;
    text-align: center;
    font-size: 15px;
}
.buyonline{
    text-decoration: none;
    color: rgb(0, 113, 227);
}
.tittlebox1{
    padding: 20px;
    padding-bottom: 5px;
    font-family: "roboto", sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0px;
}
.subtittlebox1{
    font-weight: 400;
    font-family: "roboto", sans-serif;
    text-align: center;
    font-size: 30px;
    color: rgb(22, 22, 22);
    margin-top: 0px;
    margin-bottom: 0px;
    
}
.subtittle2{
    color: rgb(153, 153, 160);
    font-family: "roboto", sans-serif;
    font-size: 15px;
    text-align: center;
}
.box{
    display: flex;
    flex-direction: row;
}

.abutton{
    color: rgb(0, 113, 227);
    border-radius: none;
    text-decoration: none;
    font-family: "roboto", sans-serif;
    text-align: center;
    font-size: 20px;
    width: 200px;
    margin-left: 600px;

}
.abutton:hover{
    text-decoration: underline;
    color:  rgb(0, 113, 227);
}
.abuttonbuy{
    width: 200px;
    color: rgb(0, 113, 227);
    border-radius: none;
    text-decoration: none;
    font-family: "roboto", sans-serif;
    text-align: center;
    font-size: 20px;
    
}
.abuttonbuy:hover{
    text-decoration: underline;
    color:  rgb(0, 113, 227);
}
.imgiphone12{
    display: flex;
    width: 400px;
    height: 300px;
    justify-content: center;
    margin-right: 0px;
    margin-left: 550px;
    margin: auto;
}
.iphone12{
    width: 400px;
    height: 300px;
    color:rgb(252, 248, 248);
    margin: auto;
    padding: auto;
}
.box2{
    background-color: black;
}
.tittlebox2{
    padding: 20px;
    padding-bottom: 5px;
    font-family: "roboto", sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0px;
    color: white;
}
.subtittlebox2{
    color: white;
    font-weight: 400;
    font-family: "roboto", sans-serif;
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.imgiphone12pro{
    display: flex;
    width: 400px;
    height: 300px;
    justify-content: center;
    margin-right: 0px;
    margin-left: 550px;
    margin: auto;


}
.iphone12pro{
    width: 500px;
    margin-top: 50px;
    margin: auto;
    padding: auto;
    margin-top: 50px;
    height: 250px;
}
.box3{
    background-color: black;
}
.tittlebox3{
    padding: 20px;
    padding-bottom: 5px;
    font-family: "roboto", sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0px;
    color: white;
}
.subtittlebox3{
    color: white;
    font-weight: 400;
    font-family: "roboto", sans-serif;
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.imgwatch{
    display: flex;
    width: 400px;
    height: 300px;
    justify-content: center;
    margin-right: 0px;
    margin-left: 550px;
    margin: auto;


}
.watch{
    width: 500px;
    margin-top: 50px;
    margin: auto;
    padding: auto;
    margin-top: 50px;
    height: 250px;
    width: 400px;
}
.series{
    color: rgb(221, 67, 67);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: 0px;
}
.tittlebox4{
    padding: 20px;
    padding-bottom: 5px;
    font-family: "roboto", sans-serif;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 0px;
    color: black;
}
.buttonbox{
    width: 200px;
    color: rgb(0, 113, 227);
    border-radius: none;
    text-decoration: none;
    font-family: "roboto", sans-serif;
    font-size: 20px;
    margin-left: 30px;
    
}
.doblebox{
    display: flex;
    width: 1519.200;
    height: 500px;
}
.box4{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 700px;
    height: 400px;
    text-align: center;
    height: 500px;
    background-color:rgb(252, 248, 248);
    font-family: 'Roboto', sans-serif;
}
.tittlebox4{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 600;
    
}
.subtittlebox4{
    width: 400px;
    margin-left: 160px;
    font-weight: 400;
    margin-top: 0px;
}
.imgsimbol{
    width: 200px;
    height: 200px;
    margin-top: 40px;
}
.fab fa-apple{
    width: 25px;
    height: 15px;
    margin-right: 20px;
}
.footer{
    background-color: rgb(245, 245, 247);
    text-align: -webkit-center;
    margin-top: 30px;
    padding-top: 15px;
}
.final{
    font-family: 'Roboto';
    font-size: small;
    width: 1100px;
    height: 250px;
    text-align: left;
    margin-top: 35px;
    padding-top: 15px;
    height: 100px;
    margin-top: 0px;
    padding-top: 5px;
}
.final3{
    font-family: 'Roboto';
    font-size: small;
    width: 1100px;
    height: 250px;
    text-align: left;
    margin-top: 35px;
    padding-top: 15px;
    height: 70px;
    margin-top: 0px;
    padding-top: 5px;
}
.hrfooter{
    width: 1100px;
}

@media only screen and (max-width: 600px){
    .header{
        background-color: rgba(97, 97, 97, 0.8);
        display: flex;
        margin-bottom: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: center;
    }
}